# Python Basics

**Reference:**
M., & Das, B. (2017). Learn python in 7 days : Get up-and-running with python. Birmingham, UK: Packt Publishing. (2017). Retrieved April 1, 2020, from INSERT-MISSING-DATABASE-NAME.

[**Book Link**](https://lesa.on.worldcat.org/oclc/990194774)

# Introduction to Python

## Variables

A **variable** in programming is a *storage address*  paired with a name, which contains some known or unknown quantity of information referred to as a *value*.

**Variable naming rules:-**

1.   Variable names can begin with _, $, or a letter
2.   Variable names can be in lower case and uppercase
3.   Variable names cannot start with a number
4.   White space characters are not allowed in the
naming of a variable
5.   Python researved words such as if, else, and so on cannot be used for naming variables

## Assignments  
Values can be assigned to variables following the below syntax : -

variable name = expression

### Single

Variables are assigned values using the = operator

```
city='Sydney' # A string variable assignment.
temperature = 36.75 # A floating point number
population_per_square_metre  = 400 # An integer assignment

```

### Multiple

A single value  is assigned to several variables.



```
x = y = z = 1
```

##Datatypes

This  is a classification of a variable that tells the compiler about the  nature and subsequent handling of input assigned to the defined variable. There are many types of data, such as numbers, strings, character, images, and so on.

### Numeric Datatypes

#### Integers
Integers include zero, all of the positive whole numbers, and all of the negative whole numbers.

The int or integer data type ranges from $-2^{31}$ to $2^{31}-1$; the leading minus sign shows the negative values.

#### Floats
The floating point number type ranges approximately from $-10$ to $10^{308}$ and has16 digits of precision.
Floats can be written using decimal ($0.567$) or scientific ($6.78e-9$)notations.

#### Long  

Beyond the integer ranges ($-2^{31}$ to $2^{31}-1$), the interpreter will add $$ to indicate a long integer e.g. $23547748888366000L$

#### Boolean

Typically, such a datatype  has two values , *True* or *False*.

**Syntax:**

Variable_name = 'True' or 'False'

In [ ]:
#Example

student1height = 1.79
student2height = 1.89
student2height < student1height

False

## Operators

### Arithmetic

| Operator | Description |
| --- | --- |
| ** | **Exponent:** Performs exponential (power) calculations on operands|
| * | **Multiplication:** Multiplication between operands |
| + | **Addition:** Addition between operands|
| - | **Subtraction:** Subtraction between operands|
| % | **Modulus:** Modulus division between operands |
| / | **Division:** Performs division between operands |

### Comparison
 Comparison  operators return *True* or *False*:

| Operator | Description |
| --- | --- |
| == | Checks for equality |
| < | Returns *True* if the left-hand side operand is less than the right-hand side operand |
| > | Returns *True* if the left-hand side operand is greater than the right-hand side operand|
| <= | Returns *True* if the left-hand side operand is less than or equal to the righthand side operand|
| >= | Returns *True* if the left-hand side operand is greater than or equal to the righthand side operand|
| !=| Returns *True* if the left-hand side operand is not equal to the right-hand side operand |
| <>| Returns *True* if the left-hand side operand is not equal to the right-hand side operand|

### Logical

| Operator | Description |
| --- | --- |
| and |Returns *True* if both the right-hand and left-hand sides of the operator are true |
| or | Returns *True* if any side, either the right-hand side or the left-hand side, of the operator is true|
| not | If condition in the *not* operator is *True*, the *not* operator makes it *False* |

# Strings, Tuples, and Lists

## Strings

### Introduction to Strings
A Python string consists of one or more characters.The string is an immutable data structure, which means they cannot be changed.
For example *name1 = "Jayden Nairobi"* means  that *name1* will always  remain *Jayden Nairobi*. However, the value for *name1* can  be reassigned.

For example:-

In [ ]:
name1 = "Jayden Nairobi"
name1
id(name1)

140652334247664

In [ ]:
#Lets  reassign another value to the  same  variable.

name1 = "Hubert Knox"
name1
id(name1) #Memory address differs from the first one.

139975811393520

In [ ]:
#Length of  string
len(name1)

11

### Subscript Operator

Syntax:

*string [index]*

The -1 index represents the last character of the string.

In [ ]:
name1 = "Jayden Nairobi"

name1[12] #Accesses the character at index 12 in the string
name1[-1]

'i'

### Substrings Slicing
In slicing, colon : is used.  An integer value will appear on either side of the colon

In [ ]:
name1[0:4]

'Jayd'

In [ ]:
name1[:6]

'Jayden'

In [ ]:
name1[::2]

'Jye arb'

### String methods

In [ ]:
name1.count("b") #counts the number of  characters matching

1

**To dos: **

Find  out three other Python String methods and implement them in Python

#### String  Case
Changes a string to lower or uppercase.

In [ ]:
name1.lower()

'jayden nairobi'

In [ ]:
name1.upper()

'JAYDEN NAIROBI'

**To dos:**

Implement the above using  *swapcase* function.

#### String Strip
Strip methods work at the beginning and end of strings to remove undesirable characters on both/one end.

In [ ]:
message = " COVID-19 Update "

In [ ]:
message.strip() #Spaces before and  after the string are removed

'COVID-19 Update'

In [ ]:
message.rstrip("e") #removes character "e"

'COVID-19 Updat'

#### String  Split
Based upon delimiters, this  method  splits up strings

In [ ]:
date = "05-04-2020"
date

'05-04-2020'

In [ ]:
date.split("-")

['05', '04', '2020']

#### String Justify
Applicable when a string  has to be of a certain length.

In [ ]:
name = "Torrens Grp"

In [ ]:
name.ljust(15, "-")

'Torrens Grp----'

In [ ]:
name.rjust(15, "-")

'----Torrens Grp'

In [ ]:
name.center(15, "-")

'--Torrens Grp--'

In [ ]:
account_no = "356374774"
account_no.zfill(20)

'00000000000356374774'

**To dos:**

*replace()*  returns a copy of a string in which the old character(s) are replaced with new character(s). Implement  a few examples demonstrating the same.

#### String Boolean
Returns the value in the form of *True* or *False* based upon certain conditions.

In [ ]:
sentence = "They are more than just friends"

In [ ]:
sentence.endswith("ds")

True

In [ ]:
sentence.startswith("Th")

True

#### String  Functions

In [ ]:
sentence= "Life should be great rather than long"
if "great" in sentence:
    print ("Word great exists in the sentence")

Word great exists in the sentence


## Tuples

### Overview of Tuples

A tuple in Python is a sequence, which can store heterogeneous data types such as strings, lists, integers, floats and dictionaries. Like strings, tuple is immutable.

#### Creating and  Indexing a Tuple

In [ ]:
#syntax
# variable name = ()
Tuple1 = () #Returns  an empty tuple
Tuple1

()

In [ ]:
#Tuple with elements s
tuple2 = (1,2,3,4.6, "You", "are not fair")
tuple2

(1, 2, 3, 4.6, 'You', 'are not fair')

In [ ]:
type(tuple2) #Variable type

tuple

In [ ]:
#Indexing  a tuple
students = ('Herman', 'Karishma', 'Tony', 'Idris')
students[-1]

'Idris'

#### Slicing  a Tuple
In order to slice a tuple, square brackets with the index or indices have to be  used.

In [ ]:
students[0:3] #first 3 elements of the tuple

('Herman', 'Karishma', 'Tony')

#### Unpacking Tuple Items

In [ ]:
#Assigning variables to unpack tuple items. Variables have to be the same number as  tuple items.

student1, student2, student3, student4 = students
student3

'Tony'

#### Tuple  Functions

In [ ]:
fruits = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')

len(fruits) #Length of tuple
max(fruits) #Maximum value returned on the  basis of the  first character. "pear" should be the one
min(fruits)#Minimum value returned on the  basis of the  first character. "apple" should be the one

'apple'

#### Tuple  Operations

In [ ]:
food = ("rice", "sushi","bread","tea") # Define another tuple

food+fruits #Add the two tuples together

food*2 #Double  the tuple values

('rice', 'sushi', 'bread', 'tea', 'rice', 'sushi', 'bread', 'tea')

## Lists

A list is a data structure that holds heterogeneous values such as integers, floats, strings, tuples, lists, and dictionaries.
However, Python lists are **mutable** meaning they can change.

Characteristics of  a Python List:

*   They are mutable; values  can change.
*   Values are ordered.
*   Can hold any number of values.
*   Can add, remove, and alter the values.

##### Creating a List

In [ ]:
students = ['Herman', 'Karishma', 'Tony', 'Idris']

In [ ]:
students

['Herman', 'Karishma', 'Tony', 'Idris']

### Operations

In [ ]:
#Accessing list items using the index. Remember the index starts at 0 and not 1
students[0]

'Herman'

In [ ]:
students[3]

'Idris'

In [ ]:
 #slicing  list items
 students[1:3]

['Karishma', 'Tony']

In [ ]:
# Updating a list

students[0] = "Herman" #Initially "Herman"
students

['Herman', 'Karishma', 'Tony', 'Idris']

In [ ]:
#Deleting  list values
del students[1] #Karishma will be deleted
students

['Herman', 'Tony', 'Idris']

### Functions / Methods

Summary of List Functions/Methods  

Example adapted from [here](https://docs.python.org/3/tutorial/datastructures.html)/. Implement them in individual code cells.

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('tangerine') #Returns the number of times "tangerine" appears in the list
fruits.index('banana') #Returns zero-based index in the list of the first item whose value is the argument
fruits.index('banana', 4)  # Find next banana starting a position 4
fruits.reverse() #Reverse the elements of the list in place.
fruits.append('grape') #Add an item to the end of the list.
fruits.sort() #Sort the items of the list in place (the arguments can be used for sort customization
fruits.pop() #Remove the item at the given position in the list, and return it. If no index [] is specified, a.pop() removes and returns the last item in the list.

### List Comprehensions

Comprehensions  in lists provide a concise way to create lists. This  is applicable when one is to make a new list where say each element is a result o f some  operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

Examples adapted from [here](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
#Example 1
power_of_three = []
for y in range(10):
  power_of_three.append(y**3) #x value raised to the  power of  3
power_of_three

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#Example 2
power_of_three = list(map(lambda x: x**3, range(10)))
power_of_three

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#Example 3
power_of_three = [x**3 for x in range(10)]
power_of_three

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

A nested  list can be thought of  as a list in another list. For example,  consider the following example of a 2x2 matrix implemented as a list of 2 lists of length 2. Very simple matrix:

In [ ]:
matrix = [[1, 2],
         [3, 4]]
matrix

[[1, 2], [3, 4]]

In [ ]:
#Below  code will transpose this matrix  to another 2 by 2 matrix
[[row[i] for row in matrix] for i in range(2)]

[[1, 3], [2, 4]]

In [ ]:
#You can opt to use inbuilt  function to deal with the same problem especially in complex matrice
list(zip(*matrix))

[(1, 3), (2, 4)]

#### Exercise

In [ ]:
#Using a for loop, transpose the  below matrix.
matrix2 = [[33, 2, 4, 8],[9, 21, 17, 18],[29, 130, 134, 12]]
matrix2
transposed_matrix = []
## your for loop code here
  ##your transpose code here. Indentation here is important

transposed_matrix

[[33, 9, 29], [2, 21, 130], [4, 17, 134], [8, 18, 12]]



```
Missing parts:

for i in range(4):
transposed_matrix.append([row[i] for row in matrix2])
Output should be  [[33, 9, 29], [2, 21, 130], [4, 17, 134], [8, 18, 12]]
```

# Conditions and Loops

### Conditions: if, else, and elif

In [ ]:
x = int(input("Please enter your age (e.g. 18): "))

if x < 18:
    print('You are below the  legal drinking age. See you when you turn 18')
elif x == 18:
    print('Just reached the legal drinking age. ')
elif x > 18 and x < 21:
    print('You are between 18 and  21 years. You are within the drinking age bracket in most countries')
else:
    print('You are way mature. You can take care of yourself')

Please enter your age (e.g. 18): 18
Just reached the legal drinking age.

### Conditions: for Statement

In [ ]:
# Measure strings  lengths
words = ['yellow fever', 'malaria', 'covid-19']
for w in words:
    print(w, len(w))

yellow fever 12
malaria 7
covid-19 8

### Loops: Range, Xrange, Pass, Continue

#### The range() Function

The function generates arithmetic progressions. Helpful when iterating  over a sequence of  numbers.

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
a = ['Karishma', 'lives', 'at', '478', 'Queens Street']
for i in range(len(a)):
  print(i, a[i])

0 Karishma
1 lives
2 at
3 478
4 Queens Street

#### Xrange()  
Its  similar to *range()* but returns an *xrange* object instead of a list. The function has been depreciated in Python 3. You have to use Python 2.x.x for it to work.

#### Pass Statements
pass  can be used when a statement is required  statistically but  the program requires no action.

# Functions

Functions  are a  programming unit usually in a big programming construct that generates a designated output.

## Python Built-in Functions: Len, Print, Input

Such functions are predefined by programming languages and each serves a specific purpose.

Some examples can be  found in the *Functions/Methods *section under *lists*.

### User-Defined functions

Functions defined by users as per their programming requirement and  syntax of the language.



```
Syntax:
def function_name(arguments):
  <statements>
  return value
```

### Calling a function


```
Syntax:

function_name(arguments)
```

In [ ]:
def helloWorld():
  print ("This  is my first user defined function output")
helloWorld()

This  is my first user defined function output

### Default Arguments
A default value for one or more arguments is defined.

In [ ]:
def info(name, age=50):
 print ("Name", name)
 print ("age", age)
info("John", age=28) #assigned value as age for John
info("James") #default value given

Name John
age 28
Name James
age 50

In [ ]:
def add_numbers(x,y):
   sum = x + y
   return sum

num1 = 20
num2 = 39

print("The sum is", add_numbers(num1, num2))

The sum is 59

### Variable Length Arguments
This is applicable when you need to pass more  arguments than specified during the function definition.


```
Syntax
def function_name(arg, *var):
 <code block>
 return

```
*arg* is the normal argument which is passed to the function. *var refers to the variable length argument.

In [ ]:
def variable_argument( var1, *vari):
 print ("Out-put is",var1)
 for var in vari:
  print (var)
variable_argument(60)
variable_argument(120,38,50,50,60)

Out-put is 60
Out-put is 120
38
50
50
60

### Variable Scopes

#### Local
A local variable is defined inside the Python function. Local variables are only accessible
within their local scope.

In [ ]:
#Variable  x is local to the function
def myfunc():
  x = 600
  print(x)

myfunc()

600

In [ ]:
#Function within a function. Local scope  is  possible
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

#### Global
A global variable is defined outside the Python function. Global variables are only accessible throughout the program

In [ ]:
#The function will print the local x, and then the code will print the global x:
x= 300  #defined outside  the function
def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [ ]:
#Global keyword makes a local variable  global.

def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

# Dictionaries

### Basics

1.   Dictionary can be thought of as a pair of  key: value pairs, with the requirement that the keys are unique (within one dictionary).
2.   An empty dictionary is created by a pair of  braces: {}.
3.   Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary;

### CRUD (Create, Read, Update, Delete)

In [ ]:
address = {'Herman': 47, 'Karishma': 57, 'Tony': 56, 'Idris': 578} #Creates the dictionary
address['Mary'] = 539 #Update the  current address by adding Mary's address to it.
address['Karishma'] #Read's Karishma's address
del address['Karishma'] #Deletes  Karishma's record
list(address) #Lists available  keys in the  dictionary
sorted(address) #Sorted values from the smallest to the  largest

#### Dict Constructor
The dict() constructor builds dictionaries directly from sequences of key-value pairs:

In [ ]:
dict([('Herman',47), ('Karishma',57), ('Tony',56),('Idris',578)])

{'Herman': 47, 'Idris': 578, 'Karishma': 57, 'Tony': 56}

In [ ]:
dict(Herman=47, Karishma=57, Tony=56,Idris=578) #Specify pairs using  keyword arguments

{'Herman': 47, 'Idris': 578, 'Karishma': 57, 'Tony': 56}

### Loops in Dictionary

In [ ]:
subjects = {'Herman:': 'Physics', 'Karishma:': 'Biology'}
for x, y in subjects.items():
  print(x, y)

Herman: Physics
Karishma: Biology

# Object Oriented Programming (OOP)

OOP came to the forefront to solve problems that procedural programming would  not  solve. With OOP,properties and behaviors are bundled into individual *objects*.

An object could for example represent a person with a age, address and subject properties etc., with behaviors like talking, writing, breathing etc. The same can be said of  an email as an object with recipient list, subject, body as properties. Behaviours such as sending or adding attachments related to object.

Examples adapted from [**here**](https://realpython.com/python3-object-oriented-programming/)

## Key  Concepts

*   **Classes** -  Considered as a blueprint for object creation. Behaviour of  the  object is  specified here.
*   **Objects**  - Can be considered  as an object of the class. It  bundles a set of related states
and behaviors, for example, a dog has state (*name*) and behavior (*barking*).
*   **Polymorphism** - Literally means something that has many forms.An object can have many forms through means of different attributes. This can be methods with same names but having different outputs.
*   **Inheritance** - Inheritance is  implemented in many languages in addition to Python. It is correlated in real life as properties passed on by parents to children. In OOP,  a child class can inherit many
properties from the parent class. Inheritance can be a single inheritance or multiple inheritance. Single inheritance, as the name suggests, refers to only one parent, while multiple inheritance refers to inheriting the property from multiple parents.

*   **Abstraction** - Here, we hide the necessary details and are only interested in showing the relevant details to the other intended user. Here, by other intended user we mean another software application, or another class, or other client who will be the end users of the program.


*   **Encapsulation** -  This refers to hiding the necessary methods and their relevant details from the outside world. A class can be treated as a best  example, which provides encapsulation to the methods and relevant instances.

In [ ]:
#class
class Dog: #Starts with the class keyword plus name of  class i.e. Dog.
    pass #place holder for  code later on.

### Instance Attributes
All classes create objects, and all objects contain characteristics called *attributes*

Use the __init__() method to initialize/specify an objects initial attributes by giving them their default value (or state). This method must have at least one argument as well as the self variable, which refers to the object itself (e.g., Dog).  It must begin and end with two consecutive underscores.

*self* variable is also an instance of the class *Dog*. Since instances of a class have varying values we could state *Dog.name = name* rather than *self.name = name.*

In [ ]:
#Example 1
class Dog:

    # Initializer / Instance Attributes
    def __init__(self, name, age): #Each dog has a name and  age. Important when they are different dogs
        self.name = name
        self.age = age

In [ ]:
#Example 2
class Leapx_org(): #defines a class
 def __init__(self,first,last,pay): #method receives the instance of the class automatically. Accets 3 arguments
  self.f_name = first #instance  variable
  self.l_name = last #instance  variable
  self.pay_amt = pay #instance  variable
  self.full_name = (first+" "+last) #instance  variable
L_obj1 = Leapx_org('Karishma', 'Singh', 60000) #L_obj1 is an instance with 'Karishma', 'Singh', 60000 as values passed to  __init__(self, first, last, pay) method
L_obj2 = Leapx_org('Joel', 'Johns',70000)
print (L_obj1.full_name)
print (L_obj2.full_name)

mohit RAJ
Ravender Dahiya

### Class Attributes

In [ ]:
#Adapted from here https://realpython.com/python3-object-oriented-programming/
#While each dog has a unique name and age, every dog will be a mammal.
class Dog:

    # Class Attribute
    species = 'mammal'

    # Initializer / Instance Attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age

### Instantiating Objects
Instantiating  simply means  creating a new and  unique instance of a class.

In [ ]:
#Adapted from here https://realpython.com/python3-object-oriented-programming/
class Dog:
  pass
#Two instances of Dog class from the output

print(Dog())
print(Dog())

a = Dog()
b = Dog()
a == b # two different classes thus are not equal

<__main__.Dog object at 0x7fae02b665c0>
<__main__.Dog object at 0x7fae02b66588>

False

In [ ]:
#Adapted from here https://realpython.com/python3-object-oriented-programming/
class Dog:

    # Class Attribute
    species = 'mammal'

    # Initializer / Instance Attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age


# Instantiate the Dog object
philo = Dog("Philo", 5)
mikey = Dog("Mikey", 6)

# Access the instance attributes
print("{} is {} and {} is {}.".format(
    philo.name, philo.age, mikey.name, mikey.age)) #dot(.) notation is  used to access attributes frome ach object

# Is Philo a mammal?
if philo.species == "mammal":
    print("{0} is a {1}!".format(philo.name, philo.species))

Philo is 5 and Mikey is 6.
Philo is a mammal!

## Inheritance

Inheritance in Python just like  in other programming languages is the process by which one class takes on the attributes and methods of another. Newly formed classes are called ***child*** classes, and the classes that child classes are derived from are called ***parent*** classes.

Child classes override or extend the functionality (e.g., attributes and behaviors) of parent classes. Therefore, child class inherit all of the parents attributes but can also specify different  behaviour to follow.

In [ ]:
#Example  adapted from here https://realpython.com/python3-object-oriented-programming/
# Parent class
class Dog:

    # Class attribute
    species = 'mammal'

    # Initializer / Instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def description(self):
        return "{} is {} years old".format(self.name, self.age)

    # instance method
    def speak(self, sound):
        return "{} says {}".format(self.name, sound)


# Child class (inherits from Dog class)
class RussellTerrier(Dog):
    def run(self, speed):
        return "{} runs {}".format(self.name, speed)


# Child class (inherits from Dog class)
class Bulldog(Dog):
    def run(self, speed):
        return "{} runs {}".format(self.name, speed)


# Child classes inherit attributes and
# behaviors from the parent class
jim = Bulldog("Jim", 12)
print(jim.description())

# Child classes have specific attributes
# and behaviors as well
print(jim.run("slowly"))

Jim is 12 years old
Jim runs slowly

## Overriding Parent Class
Child classes take up parent class properties as well as can modify them.

In [ ]:
#Example  adapted from here https://realpython.com/python3-object-oriented-programming/
class Dog:
  species = 'mammal'
class SomeBreed(Dog): #Inherits from parent class dog. Behaviour has not  been assigned so takes up the  parent class property.
  pass
class SomeOtherBreed(Dog):#Inherits from parent class dog.
  species = 'reptile'
frank = SomeBreed()
print(frank.species)
beans = SomeOtherBreed()
print(beans.species)

mammal
reptile

## Operator overloading

Plus (+) operator can be used for adding numbers and at the same time to concatenate strings.  The + operator in this case is overloaded by both *int* class and *str* class. Defining methods such as __add__ for operators is known as operator overloading.

In [ ]:
# Below  example adapted from here https://thepythonguru.com/python-operator-overloading/
import math

class Circle:

    def __init__(self, radius):
        self.__radius = radius

    def setRadius(self, radius):
        self.__radius = radius

    def getRadius(self):
        return self.__radius

    def area(self):
        return math.pi * self.__radius ** 2

    def __add__(self, another_circle):
        return Circle( self.__radius + another_circle.__radius )

c1 = Circle(4)
print(c1.getRadius())

c2 = Circle(5)
print(c2.getRadius())

c3 = c1 + c2 # This became possible because we have overloaded + operator by adding a    method named __add__
print(c3.getRadius())

## Static Methods

Static methods are just simple functions as they do not take  an instance or class as the first argument. Usually specified by the decorator *@staticmethod*

In [ ]:
#Example  adapted from here https://lesa.on.worldcat.org/search?queryString=bn%3A1787287777#/oclc/990194774
class Leapx_org():
  mul_num = 2.5
  mul_num2 = 1.5
  def __init__(self,first,last,pay):
    self.f_name = first
    self.l_name = last
    self.pay_amt = pay
    self.full_name = first+" "+last
  @staticmethod
  def check_amt(amt): # method is a static method as specified by the decorator.
                      #Doesnt change the class and instance variables but has a connection to incrementpay()
    if amt <50000:
        return True
    else :
        return False
  def incrementpay(self): # uses the check_amt() static method.
    if self.check_amt(self.pay_amt):
      self.pay_amt = int(self.pay_amt*self.mul_num2)
    else :
      self.pay_amt = int(self.pay_amt*self.mul_num)
      return self.pay_amt
L_obj1 = Leapx_org('Herman', 'Johns', 37479)
L_obj2 = Leapx_org('Karishma', 'Batti',87636)
L_obj1.incrementpay()
L_obj2.incrementpay()
print (L_obj1.pay_amt)
print (L_obj2.pay_amt)

56218
219090

## Private Methods

Python doesn't have real private methods, so two underlines at the beginning make a
variable and a method private.  A private method cannot  be  accessed outside the class.

In [ ]:
class A:
  __amount = 45
  def __info(self):
    print ("I am in Class A")
  def hello(self):
    print ("Amount is ",A.__amount)
a = A()
a.hello()
a.__info() # __info() is the private method. Expected outputis 'A' object has no attribute '__info'
a.__amount #__amount is the private variable

Amount is  45

AttributeError: ignored

In [ ]:
#Use the syntax like instance _class-name__private-attribute to access private variables and  methods.
class A:
  __amount = 45
  def __info(self):
    print ("I am in Class A")
  def hello(self):
    print ("Amount is ",A.__amount)
a = A()
a.hello()
a._A__info()
print (a._A__amount)

Amount is  45
I am in Class A
45

# Modules
A module  is a file  that contains libraries one wants to include in the application. A module can define functions, classes and variables. A module can also include runnable code.

## Importing

Create a module and save it  as a .py file. Save it in the same folder as this notebook. Calculator module  so I'll save it as calc.py
```
def add(x, y):
    return (x+y)
def multiply(x, y):
    return (x*y)
def divide(x, y):
    return (x/y)   
def subtract(x, y):
    return (x-y)
```

In [ ]:
# importing  module calc.py
import calc
print multiply(100,9) #output should be 900

SyntaxError: ignored

The *from import* Statement
Pythons from statement lets you import specific attributes from a module.

```
Syntax:

from .. import ..

```

In [ ]:
from math import sqrt, factorial

print (sqrt(100))
print (factorial(6))

10.0
720

# Exercises

Dictionaries

Using  a *for* loop and *zip()* function to pair questions and  respective  answers The output should be as below:

```
What is your name?  It is, Karishma.
What is your address?  It is, 435, Sydney.
What is your dream destination?  It is, Guam.
```

Remember the questions and  respective  answers are paired i.e. address paired with *435, Sydney*.

In [ ]:
questions = ['name', 'address', 'dream destination']
answers = ['Karishma', '435, Sydney', 'Guam']
## Your code here


Answer:
```
for q, a in zip(questions, answers):
  print('What is your {0}?  It is,{1}.'.format(q, a))
```

## Exercise 2
**Classes**

Using the same Dog class as an example, instantiate three students (Herman, Karishma and Batti), each with a different scores in a certain subject. Name the  class Student. Name of  the subject is  not necessay. Just the marks are important. Then write a function called, lowest_score(), that takes any number of marks(*args) and returns the least one. Output the minimum score as below:-


```
The least score is 10.
```

In [ ]:
class Student:


    # Initializer / Instance Attributes
    def __init__(self, name, score):
        self.name = name
        self.score = score


# Instantiate the student object
herman = Student("Herman", 17)
karishma = Student("Karishma", 40)
batti = Student("Batti", 50)


# Determine the lowest score
def lowest_score(*args):
    return min(args)


# Output
print("The least score is  {}.".format(lowest_score(herman.score, karishma.score, batti.score)))

The least score is  17.

## Exercise 3