### Lib and Open

In [4]:
import os
import pandas as pd

folder = "/Users/luisfaria/Desktop/sEngineer/masters_SWEAI/2025-T2/T2-REM/assignments/Assessment2"

# If in codespaces:
# folder = "/workspaces/masters-swe-ai/2025-T2/T2-REM/assignments/Assessment2"

# Open all .csv files in the folder
for file in os.listdir(folder):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join(folder, file))
        print(df.shape)

# Load datasets
nps = pd.read_csv("nps/nps_data.csv")
revenue = pd.read_csv("sales/revenue_data.csv")

In [ ]:
# Merging by store and month
df = pd.merge(nps, revenue, on=["Store", "month"], how="inner")

# Computing monthly averages
df["avg_nps"] = df.groupby("Store")["NPS"].transform("mean")

# Dataframe preview
df.head()

,month,Store,NPS,count_of_responses,total_valor_liquido,count_of_sales,avg_nps
0,2024-01,BELO HORIZONTE,65.000000,40,111643.77,182,65.000000
1,2024-01,CAMPINAS,91.044776,67,114131.31,246,75.986733
2,2024-01,COPACABANA,80.281690,71,225878.13,250,74.070324
3,2024-01,IPIRANGA,69.230769,65,234789.84,305,69.230769
4,2024-01,ITAIM,30.769231,13,99281.93,128,55.494505

In [14]:
df.describe()[["NPS", "total_valor_liquido"]]

              NPS  total_valor_liquido
count   67.000000            67.000000
mean    75.820018        179285.282836
std     28.704604        112676.584657
min   -100.000000         48331.610000
25%     66.666667         95715.870000
50%     81.818182        158653.140000
75%     92.397388        222530.025000
max    100.000000        601662.020000

In [15]:
corr = df[["NPS", "total_valor_liquido"]].corr(method="pearson")
corr

                          NPS  total_valor_liquido
NPS                  1.000000             0.010176
total_valor_liquido  0.010176             1.000000

In [ ]:
# Export two clean visualizations from your .ipynb:
# 1.correlation_heatmap.png
# 2.scatter_nps_vs_revenue.png