In [1]:
import pandas as pd

In [2]:
import os
import pandas as pd

folder = "/Users/luisfaria/Desktop/sEngineer/masters_SWEAI/2025-T2/T2-REM/assignments/Assessment2/sales"

# List to hold dataframes
dataframes = []

# Read all Excel files and append to list
for file in os.listdir(folder):
    if file.endswith(".xlsx"):
        filepath = os.path.join(folder, file)
        df = pd.read_excel(filepath)
        dataframes.append(df)

# Concatenate all dataframes into one
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
    print("Data combined successfully.")
else:
    print("No Excel files found.")

# Optional: print the first few rows
combined_df.sample(5)

Data combined successfully.

,ID orçamento,Data orçamento,Status,Revenda,Data venda,Mês venda,Hora venda,Unidade,Consultor,Avaliador,...,Valor liquido item,Fonte do cadastro do cliente,Nome cliente,CPF cliente,ID cliente,Email do cliente,Telefone(s) do cliente,Data nascimento cliente,Profissão cliente,Cortesia?
16299,434615,2025-02-28 09:13:17,Finalizado,NÃO,2025-02-28 09:14:58,Fevereiro,09:14:58,TATUAPÉ,Beatriz Emanoela da Silva,Alessandra Cristina Silva dos Santos,...,NaN,Google Pesquisa,Maria Aparecida De Assis Gomes,020.597.768-56,1024661.0,alohagomes1959@gmail.com,11965766272,1996-11-23 00:00:00,Cabeleireira(o),Não
15363,433720,2025-02-24 12:03:42,Finalizado,SIM,2025-02-24 12:04:43,Fevereiro,12:04:43,COPACABANA,Bruna Nascimento Rangel,Daiana Siqueira Ramos dos Santos,...,NaN,Facebook Leads,Flaviane Costa,NaN,959004.0,ne.ne.k@hotmail.com,21986685153,1989-08-07 00:00:00,Acessor(a),Não
2778,426726,2025-01-18 13:13:35,Finalizado,NÃO,2025-01-18 13:14:31,Janeiro,13:14:31,TIJUCA,Ethel Castro Flexa Ribeiro Bastos,Paloma Santos Linhares,...,690.0,Google Pesquisa,Bruno Francesco Martire,088.899.267-08,938522.0,brunofrancesco@outlook.com.br,21993425555,1980-02-28 00:00:00,Publicitário,Não
6428,436118,2025-03-08 15:02:24,Finalizado,NÃO,2025-03-08 15:03:20,Março,15:03:20,JARDINS,Ingrid Porciuncula Ferreira da Silva,NaN,...,90.0,Indique e Multiplique,Juliana Santos Alves,479.978.918-03,1026203.0,alvesjuhh82@gmail.com,11958124842,1997-04-23 00:00:00,Designer,Sim
139,423890,2025-01-02 19:02:21,Finalizado,NÃO,2025-01-02 19:05:25,Janeiro,19:05:25,OSASCO,Eskarlete Kloh Matos,Bárbara Raquel de Góes Silva,...,495.0,Indicação,Stephannie De mari Lima,398.941.838-67,1011998.0,Stephanniemari@gmail.com.br,11999956292,1991-04-12 00:00:00,Analista,Não

In [3]:
df.columns

Index(['ID orçamento', 'Data orçamento', 'Status', 'Revenda', 'Data venda',
       'Mês venda', 'Hora venda', 'Unidade', 'Consultor', 'Avaliador',
       'Valor tabela', 'Valor desconto', 'Valor líquido', 'Grupo procedimento',
       'Procedimento', 'Quantidade', 'Valor tabela item',
       'Valor % desconto item', 'valor desconto item', 'Valor liquido item',
       'Fonte do cadastro do cliente', 'Nome cliente', 'CPF cliente',
       'ID cliente', 'Email do cliente', 'Telefone(s) do cliente',
       'Data nascimento cliente', 'Profissão cliente', 'Cortesia?'],
      dtype='object')

In [4]:
desired_columns = [
        'ID orçamento', 'Status','Data venda', 'Mês venda',
        'Unidade', 'Valor líquido', 'ID cliente']

df_filtered = combined_df[desired_columns]

# treating
df_filtered = df_filtered.loc[df_filtered['Status'] == 'Finalizado']
df_filtered['Valor líquido'] = df_filtered['Valor líquido'].fillna(0)
df_filtered.sort_values(by='Valor líquido', ascending=False)

# total sum of 'Valor líquido'
df_filtered['Valor líquido'].sum()

11038783.78

In [5]:
# convert 'Valor líquido' to float
df_filtered['Valor líquido'] = df_filtered['Valor líquido'].astype(float)

df_filtered.groupby(['Unidade', 'Mês venda'])['Valor líquido'].sum().unstack()

Mês venda     Fevereiro    Janeiro      Março
Unidade
ALPHAVILLE     82787.04   76386.00   60769.91
CAMPINAS       81204.76  104370.99  185642.03
COPACABANA    264137.09  266988.73  285692.08
GUARULHOS      64337.99   61824.02   71547.97
IPIRANGA      177788.51  230115.80  239213.04
ITAIM          74078.00  129310.04  149389.01
JARDINS       437685.85  442856.93  601662.02
LAPA          250000.08  197947.89  186461.98
LONDRINA      141187.94  190215.03  200082.01
MOEMA         240148.84  280437.71  355187.97
MOOCA          75509.99  102659.98  139739.98
OSASCO        103431.31  121483.06  102013.74
PRAIA GRANDE  113512.05  117316.95  106257.00
SANTO AMARO   263018.91  242974.98  298777.67
SANTOS        194029.35  151573.94  201253.38
SOROCABA      100208.97  108973.10   77562.55
SÃO BERNARDO   67968.04  111038.93   93604.30
TATUAPÉ       322723.43  185486.88  230494.01
TIJUCA        161649.04  165991.01  263496.07
TUCURUVI      155763.51  164754.90  160833.49
VILA MASCOTE   60550.99   94511.00   50164.01