In [1]:
import pandas as pd

In [61]:
import os
import pandas as pd

folder = "/Users/luisfaria/Desktop/sEngineer/masters_SWEAI/T2-REM/assignments/Assessment2/sales"

# List to hold dataframes
dataframes = []

# Read all Excel files and append to list
for file in os.listdir(folder):
    if file.endswith(".xlsx"):
        filepath = os.path.join(folder, file)
        df = pd.read_excel(filepath)
        dataframes.append(df)

# Concatenate all dataframes into one
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
    print("Data combined successfully.")
else:
    print("No Excel files found.")

# Optional: print the first few rows
combined_df.sample(5)

Data combined successfully.

,ID orçamento,Data orçamento,Status,Revenda,Data venda,Mês venda,Hora venda,Unidade,Consultor,Avaliador,...,Valor liquido item,Fonte do cadastro do cliente,Nome cliente,CPF cliente,ID cliente,Email do cliente,Telefone(s) do cliente,Data nascimento cliente,Profissão cliente,Cortesia?
16888,435159,2025-02-28 20:11:54,Finalizado,SIM,2025-02-28 20:12:48,Fevereiro,20:12:48,MOOCA,Vitoria Lins Ferreira,Gabriella Lelis Ribeiro,...,799.0,Fachada,Rudiere Gonzaga,230.519.338-64,762769.0,hidroponica@outlook.com,19988779336,1987-11-01 00:00:00,Logista,Não
1747,425565,2025-01-13 16:32:51,Finalizado,NÃO,2025-01-13 16:34:21,Janeiro,16:34:21,SANTOS,Danubia Lacerda da Silva,NaN,...,396.0,Fachada,Suellen Andrezza Clemente,298.660.118-95,827820.0,eng.suellenc@gmail.com,13974192367,1983-03-21 00:00:00,Engenheiro,Não
8415,438174,2025-03-20 10:19:16,Finalizado,SIM,2025-03-20 10:21:18,Março,10:21:18,LAPA,Leticia Araujo Dos Santos,Giulia de Oliveira Quintino (LAVIEEN),...,96.0,Facebook Leads,Victor Matheus Jonas Franco,312.567.498-00,1025840.0,vtrz19@gmail.com,11941775090,1984-09-19 00:00:00,Corretor de Imóveis,Não
13579,431837,2025-02-14 12:12:58,Finalizado,NÃO,2025-02-14 12:16:47,Fevereiro,12:16:47,SANTO AMARO,Ketlyn Aparecida Ferreira Monteiro,Julia Santos de Almeida,...,90.0,Instagram,Vanessa Elen Monteiro Ramos,362.746.788-40,635811.0,vanessaelen09@gmail.com,11941989702,1999-03-26 00:00:00,Empresário,Sim
11552,429615,2025-02-01 12:33:06,Finalizado,NÃO,2025-02-01 12:33:46,Fevereiro,12:33:46,COPACABANA,Bruna Nascimento Rangel,Samantha Batista Borges Nogueira,...,90.0,Indicação,Miguel Nicolas Correa Pardo,102.082.741-62,1018606.0,nico.correa@hotmail.com,21998457846,1997-07-29 00:00:00,Economista,Sim

In [60]:
df.columns

Index(['ID orçamento', 'Data orçamento', 'Status', 'Revenda', 'Data venda',
       'Mês venda', 'Hora venda', 'Unidade', 'Consultor', 'Avaliador',
       'Valor tabela', 'Valor desconto', 'Valor líquido', 'Grupo procedimento',
       'Procedimento', 'Quantidade', 'Valor tabela item',
       'Valor % desconto item', 'valor desconto item', 'Valor liquido item',
       'Fonte do cadastro do cliente', 'Nome cliente', 'CPF cliente',
       'ID cliente', 'Email do cliente', 'Telefone(s) do cliente',
       'Data nascimento cliente', 'Profissão cliente', 'Cortesia?'],
      dtype='object')

In [62]:
desired_columns = [
        'ID orçamento', 'Status','Data venda', 'Mês venda',
        'Unidade', 'Valor líquido', 'ID cliente']

df_filtered = combined_df[desired_columns]

# treating
df_filtered = df_filtered.loc[df_filtered['Status'] == 'Finalizado']
df_filtered['Valor líquido'] = df_filtered['Valor líquido'].fillna(0)
df_filtered.sort_values(by='Valor líquido', ascending=False)

# total sum of 'Valor líquido'
df_filtered['Valor líquido'].sum()

11038783.78

In [63]:
# convert 'Valor líquido' to float
df_filtered['Valor líquido'] = df_filtered['Valor líquido'].astype(float)

df_filtered.groupby(['Unidade', 'Mês venda'])['Valor líquido'].sum().unstack()

Mês venda     Fevereiro    Janeiro      Março
Unidade
ALPHAVILLE     82787.04   76386.00   60769.91
CAMPINAS       81204.76  104370.99  185642.03
COPACABANA    264137.09  266988.73  285692.08
GUARULHOS      64337.99   61824.02   71547.97
IPIRANGA      177788.51  230115.80  239213.04
ITAIM          74078.00  129310.04  149389.01
JARDINS       437685.85  442856.93  601662.02
LAPA          250000.08  197947.89  186461.98
LONDRINA      141187.94  190215.03  200082.01
MOEMA         240148.84  280437.71  355187.97
MOOCA          75509.99  102659.98  139739.98
OSASCO        103431.31  121483.06  102013.74
PRAIA GRANDE  113512.05  117316.95  106257.00
SANTO AMARO   263018.91  242974.98  298777.67
SANTOS        194029.35  151573.94  201253.38
SOROCABA      100208.97  108973.10   77562.55
SÃO BERNARDO   67968.04  111038.93   93604.30
TATUAPÉ       322723.43  185486.88  230494.01
TIJUCA        161649.04  165991.01  263496.07
TUCURUVI      155763.51  164754.90  160833.49
VILA MASCOTE   60550.99   94511.00   50164.01