In [1]:
import os
import pandas as pd

folder = "/Users/luisfaria/Desktop/sEngineer/masters_SWEAI/2025-T2/T2-REM/assignments/Assessment2/nps"

# If in codespaces:
folder = "/workspaces/masters-swe-ai/2025-T2/T2-REM/assignments/Assessment2/nps"

# Open all .xlsx files in the folder
for file in os.listdir(folder):
    if file.endswith(".xlsx"):
        df = pd.read_excel(os.path.join(folder, file))
        print(df.shape)

(27373, 5)

In [2]:
df

,Date,Score,Store,Year,Comment
0,2022-02-01 13:04:01,10,Tatuapé,2022,Very good
1,2022-02-02 12:54:02,9,Tatuapé,2022,"Very good, no criticism"
2,2022-02-02 15:12:20,10,Tucuruvi,2022,Exceptional service by the entire team
3,2022-02-02 16:00:41,10,Sorocaba,2022,Om
4,2022-02-02 18:35:15,10,Tijuca,2022,"In the Loja Renner app, in the CARDS tab, it i..."
...,...,...,...,...,...
27368,2025-05-30 09:39:45,8,Copacabana,2025,NaN
27369,2025-05-30 13:02:39,9,Copacabana,2025,NaN
27370,2025-05-30 14:06:34,4,Copacabana,2025,"Before I do a procedure, I always try to find ..."
27371,2025-05-30 14:54:42,10,Campinas,2025,NaN
27372,2025-05-31 07:50:41,9,São Bernardo,2025,"Everyone is very attentive, I really liked it"