In [1]:
import os
import pandas as pd

folder = "/Users/luisfaria/Desktop/sEngineer/masters_SWEAI/2025-T2/T2-REM/assignments/Assessment2/nps"

# If in codespaces:
folder = "/workspaces/masters-swe-ai/2025-T2/T2-REM/assignments/Assessment2/nps"

# Open all .xlsx files in the folder
for file in os.listdir(folder):
    if file.endswith(".xlsx"):
        df = pd.read_excel(os.path.join(folder, file))
        print(df.shape)

(27373, 5)

In [2]:
# Extract the month from the 'Date' column
df['Month'] = pd.to_datetime(df['Date']).dt.month

In [3]:
def categorize_nps(score):
    if score >= 9:
        return 'Promoter'
    elif score >= 7:
        return 'Passive'
    else:
        return 'Detractor'

df['Category'] = df['Score'].apply(categorize_nps)

In [4]:
# Group the DataFrame by 'Store' and 'Month'
nps_by_store_month = df.groupby(['Store', 'Month'])['Category'].value_counts(normalize=True).unstack(fill_value=0)

# Calculate the NPS for each group
nps_by_store_month['NPS'] = (nps_by_store_month['Promoter'] - nps_by_store_month['Detractor']) * 100

In [5]:
nps_alphaville = df.loc[df['Store'] == 'Alphaville']
nps_alphaville_by_store_by_month = nps_alphaville.groupby(['Store', 'Month', 'Year'])['Category'].value_counts(normalize=True).unstack(fill_value=0)
nps_alphaville_by_store_by_month['NPS'] = (nps_alphaville_by_store_by_month['Promoter'] - nps_alphaville_by_store_by_month['Detractor']) * 100
nps_alphaville_by_store_by_month

Category               Detractor   Passive  Promoter         NPS
Store      Month Year
Alphaville 1     2025   0.000000  0.000000  1.000000  100.000000
           2     2025   0.000000  0.000000  1.000000  100.000000
           5     2024   0.000000  0.015625  0.984375   98.437500
           6     2024   0.012048  0.036145  0.951807   93.975904
           7     2024   0.000000  0.028777  0.971223   97.122302
           8     2024   0.023810  0.023810  0.952381   92.857143
           9     2024   0.000000  0.037037  0.962963   96.296296
           10    2024   0.000000  0.000000  1.000000  100.000000
           11    2024   0.000000  0.000000  1.000000  100.000000
           12    2024   1.000000  0.000000  0.000000 -100.000000